* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins;
	/* color: rgb(33, 37, 41); */
}

.container-fluid .home-default {
	margin: 0;
	padding-right: 0;
	padding-left: 0;
}

/* button {
	width: 100px;
	height: 30px;
	color: white;
	background-color: rgb(255, 14, 126);
	box-shadow: none;
	border: 0;
	border-radius: 2px;
} */
.nav-item, .nav-link a {
	color: white;
}

.item-link {
	color: #17a2b8;
}

.nav-link:hover {
	color: rgb(255, 230, 0);
}

h1.display-1 {
	font-weight: 600;
}


.col-md-3 .col-sm-6, .category_menu {
	font-size: 16px;
}
.col-md-3 .col-sm-6, .category_menu p {
	font-size: 14px;
}

.kategori-pemilihan {
	display: flex;
	width: 100%;
}

.kategori-pemilihan-box {
	padding: 1em;
	color: #343a40;
	text-decoration: none;
	border-radius: 0.3rem;
	width: 100%;
	background-color: white;
}
.kategori-pemilihan-box p {
	color: #8792A6;
}
.share-box p {
	color: #8792A6;
}
.share-box h4 {
	font-weight: bold;
}
.kategori-pemilihan-box:hover {
	color: #343a40;
	text-decoration: none;
	box-shadow: rgb(168, 168, 168, 0.2) 0px 2px 10px 0px;
}
.jumbotron {
	background-color: white !important;
}

.btn-pink {
	background-color: #ea4c89;
	color: white;
}

.share-box {
	text-align: center;
	padding: 1em;
	color: #343a40;
	text-decoration: none;
	border-radius: 0.3rem;
	width: 100%;
}

.footer {
	margin: auto;
	text-align: center;
	padding: 2em;
	color: #8f8f8f !important;
}

.dropdown-menu, .hambuger {
	right: 0 !important;
	left: -150px !important;
}