 <template>
  <div>
		<div class="p-10" v-if="formLoginAdmin">
			<div class="text-center pb-4 text-gray-700">
				<img class="self-start mx-auto" src="../assets/logos/app-icon-48x48.png" height="48" width="48">
				<h4 class="text-4xl mb-2"><strong>Administrator</strong></h4>
				<p class="paragrap">Anda harus login terlebih dahulu untuk bisa mengakses aplikasi evote dan memilih pasangan yang anda pilih!</p>
			</div>
			<div class="flex flex-wrap mb-6 container mx-auto lg:w-3/6 justify-center ">
				<div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
					<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name" >
					Username
					</label>
					<input class="appearance-none block w-full bg-gray-200 text-gray-700 border focus:border-pink-500 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Username" v-model="inputUsername">
				</div>
					<div class="w-full md:w-1/2 px-3">
					<label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name" >
					Password
					</label>
					<input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="password" placeholder="Password" v-model="inputPassword" v-on:keyup.enter="loginAdmin">

					<button class="bg-pink-600 text-white py-2 px-4 mt-4 rounded border uppercase tracking-wider font-semibold" @click="loginAdmin">Login</button>
				</div>
			</div>
		</div>
		<div v-if="pageAdmin">
			<Header/> 
			<HomePage />
			<!-- <div class="container mx-auto p-5 text-center flex flex-col">
				<a class="bg-white p-3 rounded border uppercase tracking-wider " href="/admin">Logout</a>
			</div> -->
		</div>

	</div>
</template>

<script>
// @ is an alias to /src
import HomePage from "@/components/HomePage.vue";
import Header from "@/components/Header"
export default {
  name: "Home",
  data() {
		return{
			pageAdmin : false,
			formLoginAdmin : true,
			username : 'admin',
			password : 'admin123',
		}
  },
  components: {
    HomePage, Header
  },
  methods : {
		loginAdmin : function() {
		if (this.inputUsername == this.username && this.inputPassword == this.password) { 
			this.pageAdmin = true;
			this.formLoginAdmin = false;
		} else {
		alert('Salah memasukan data dan harap ulangi dengan data yang benar!')
		}

		// Message

			} 
		}
};
</script>

<style scoped>
</style>