<template>
<div class="bg-white h-screen rounded-t-lg overflow-hidden border-t border-l border-r border-gray-400 p-4 px-3 py-10 bg-gray-200 flex justify-center">
	<div class="w-full max-w-xs container  mx-auto mt-10">
		<div class="text-center pb-4 text-gray-700">
			<img class="self-start mx-auto" src="../assets/logos/app-icon-48x48.png" height="48" width="48">
			<h4 class="text-4xl mb-2"><strong>Login Evote</strong></h4>
			<p class="paragrap">Anda harus login terlebih dahulu untuk bisa mengakses lembar pemilihan</p>
		</div>
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="npm">
        NPM
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" v-model="login.npm" placeholder="Masukan NPM" v-on:keyup.enter.prevent="loginIn" >
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" @click="loginIn">
        Login
      </button>
    </div>
  </div>
  <p class="text-center text-gray-500 text-xs">
    &copy;2020 Evote. All rights reserved.
  </p>
</div>
</div>


</template>

<script>
import axios from "axios"
import Cookies from "js-cookie"
import RSABase64 from '../assets/js/index.js';

	export default {
		name: "Login",
		components: {
		},
		data(){
			return {
				login: {
					nama: "",
					npm : ""
				}
			}
		},
		methods: {
			async loginIn() {
				// console.log(RSABase64.encrypt(this.npm))
				await axios.get('http://localhost:3000/data_mahasiswa/', {
					npm: this.npm
				})
				.catch(e => {
					console.log("Login Gagal")
					console.log(e)
				})
				.then(res => {
					let dataLogin = res.data.find(x => x.npm === RSABase64.encrypt(this.login.npm))
					if(dataLogin == undefined || dataLogin === null) {
						console.log('NPM anda salah, harap ulangi!')
					} else {
						dataLogin.token = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)
						Cookies.set('id', dataLogin.id)
						Cookies.set('npm', dataLogin.npm)
						Cookies.set('nama', dataLogin.nama)
						Cookies.set('token', dataLogin.token)
						console.log(RSABase64.decrypt(dataLogin.npm))

						this.$router.push("/pemilihan")
					}
				})

		}
	}
} 
</script>

<style scoped>
	.wrapper {
		padding-top: 20px;
		margin:0  auto;
		height: 100%;
	}
	.center {
		display: inline-flex;
		margin:  auto auto;
		position: absolute;
	}
	.login-section {

	}
</style>