<template>
  <main>
    <Header class="mb-3" />
    <div class="container bg-gray mx-auto pt-20 px-6 pb-5 flexbox">
      <h4 class="judul">Pendaftaran</h4>
      <p class="paragrap">Bagi anda yang belum memilih pada surat suara anda diwajibkan mendaftar sebagai pemilih terlebih dulu. Bagi anda yang sudah mendaftar maka tidak dapat mendaftar kembali1</p>
    </div>
    <div class="md:flex">
      <div class="flex flex-1 px-4 m-2 flex-col">
        <div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-700 font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
              Nama Lengkap
            </label>
          </div>
          <div class="md:w-2/3">
            <input v-model.lazy="inputData.nama"
            class="input focus:outline-none focus:bg-white focus:border-pink-500" id="inline-full-name"
            type="text"
            placeholder="Nama Mahasiswa">
          </div>
        </div>
        <div class="md:flex md:items-center mb-6">
          <div class="md:w-1/3">
            <label class="block text-gray-700 font-semibold md:text-right mb-1 md:mb-0 pr-4" for="inline-username">
              NPM
            </label>
          </div>
          <div class="md:w-2/3">
            <input v-model.lazy="inputData.npm"
            class="input focus:outline-none focus:bg-white focus:border-pink-500" id="npm"
            type="number" placeholder="8 digit terakhir NPM anda" v-on:keydown.enter="daftar">
          </div>
        </div>
        <div class="md:flex md:items-center">
          <div class="md:w-1/3"></div>
          <div class="md:w-2/3">
            <button class="bg-gray-300 bg-pink-600 text-white font-bold py-2 px-4 rounded inline-flex items-center" type="button" 
            @click="daftar">
              Daftar
            </button>
          </div>
        </div>
      </div>
      </div>
    <div class="flex flex-1 px-4 py-5 m-2 flex-col">
      <p class="paragrap block text-gray-700 font-semibold md:text-right mb-1 md:mb-0 pr-4">Daftar Mahasiswa</p>
      <table class="table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">No</th>
          <th class="px-4 py-2">Nama</th>
          <th class="px-4 py-2">NPM</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="mahasiswa in dataMahasiswa" :key="mahasiswa.id">
          <td class="border px-2 py-2">{{mahasiswa.id}}</td>
          <td class="border px-2 py-2">{{mahasiswa.nama}}</td>
          <td class="border px-2 py-2">{{mahasiswa.npm}}</td>
        </tr>
      </tbody>
    </table>
      </div>
    </div>
  <Footer/>
</main>
</template>

<script>

import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
import axios from "axios";
import RSABase64 from "../assets/js/index.js";
// const Base64 = require('js-base64').Base64;

export default {
  name: "paslon",
  components: {
    Header,
    Footer
  },
  data() {
    return {
      inputData: {
        id:"",
        npm: "",
        nama: "",
        tanggal : new Date().toLocaleString(),
        validasi : "tunggu",
        kode_pilihan : "",
        // token_api :  Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)
      },
      dataMahasiswa : [],
      sendData : {},
      daftarkan : false
    }
  },
  mounted() {
    this.load()
  },

  methods : {
    load() {
      axios.get("http://localhost:3000/data_mahasiswa")
      .then(response => {
        this.dataMahasiswa = response.data;
        this.dataMahasiswa.map(mahasiswa => mahasiswa.npm = RSABase64.decrypt(mahasiswa.npm))
        console.log(this.dataMahasiswa)
      }).catch ((err) => {
        console.log(err)
      })
    },
    
    daftar() {
      axios.get("http://localhost:3000/data_mahasiswa/")
      .then(mahasiswa => {
        // console.log(mahasiswa)
        let mhs = mahasiswa.data.filter(x => x.npm == RSABase64.encrypt(this.inputData.npm))
        console.log(mhs)
        if(mhs.length === null || this.inputData == null) {
          this.inputData.npm = RSABase64.encrypt(this.inputData.npm)
          axios.post('http://localhost:3000/data_mahasiswa/', this.inputData).then(response => {
            const token = response.data.token_api;
            console.log(response);
            localStorage.setItem('token', token)
          });
          alert('Anda berhasil terdaftar!');
          location.reload()
        } else {
          alert('Data yang anda masukan kurang lengkap!');  
        }
      }).catch ((err) => {
        console.log(err)
      });
    },
  }
}
</script>

<style scoped>
</style>