<template>
  <div>
    <div class="mx-auto text-center mt-4 pb-4 text-gray-700">
      <img class="self-start mx-auto" src="../assets/logos/app-icon-48x48.png" height="48" width="48">
      <h4 class="text-4xl mb-2"><strong>Evote Pilpresma</strong></h4>
      <p class="mx-auto paragrap w-5/6 md:text-2xl">Pilihan ada menentukan STMIK Tasikmalaya setahun kedepan</p>
      <p class="w-5/6 text-center mx-auto paragrap">Pastikan pilihan anda adalah yang terbaik, dengan melihat visi misi tiap calon dapat dilihat <router-link class="text-pink-500" to="/info"> disini</router-link></p>
    </div>
    <div class="mx-auto flex flex-wrap md:w-5/6 md:flex-no-wrap justify-between p-1">
      <a class="w-6/12 p-1 text-center mb-2 " v-for="mahasiswa in dataPaslon" :key="mahasiswa.kode_pilihan" v-on:click="pilihPasangan(mahasiswa.kode_pilihan)">
        <div class="absolute pin-l pin-t bg-opacity-50">
          <div class="text-white py-1 px-3 font-bold text-2xl ">{{mahasiswa.kode_pilihan}}</div>
        </div>
        <img class=" rounded" :src="'/img/' + mahasiswa.foto" height="498" width="454">
          <div class="px-2 py-4">
            <div class="font-semibold text-lg lg:text-2xl text-gray-800 mb-2">{{mahasiswa.namaMahasiswa}}</div>
            <p class="text-gray-600 text-base md:text-lg ">
             {{mahasiswa.namaMahasiswa2}}
            </p>
          </div>
          <div class="text-center w-full flex flex-col">
            <span class="uppercase font-semibold rounded p-4 bg-gray-200 hover:bg-pink-600 hover:text-white text-gray-700 text-center tracking-wider">pilih saya</span>
          </div>
      </a>
      <!-- :src="'/img/' + mahasiswa.foto + '.64df8822' + '.png'" height="446" width="401" -->
    </div>
    <Footer />
  </div>
</template>

<style scoped>
</style>

<script>
import Footer from "@/components/Footer.vue"
import axios from "axios"
import Cookies from 'js-cookie'

import RSABase64 from '../assets/js/index.js';
// const Base64 = require('js-base64').Base64;

export default {
  name: "paslon",
  components: {
    Footer
  },
  data() {
    return {
      dataPaslon : [],
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      axios.get("http://localhost:3000/pasangan_calon")
      .then(response => {
        this.dataPaslon = response.data;
      }).catch ((err) => {
        console.log(err)
      })
    },
    pilihPasangan(nomorPilihan) {    
      let dataPemilih = {
        id: Cookies.get('id'),
        npm: Cookies.get('npm'),
        nama: Cookies.get('nama'),
        tanggal: new Date().toLocaleString(),
        validasi: RSABase64.encrypt('memilih'),
        kode_pilihan: RSABase64.encrypt(nomorPilihan)
      }
      console.log(dataPemilih);
      return axios.put('http://localhost:3000/data_mahasiswa/' + dataPemilih.id , dataPemilih)
          .then(res => {
            console.log(res)
            alert("Terimakasih Telah Melakukan Pemilihan")
            // Teangan dina LoginAdmin
            Cookies.remove('id')
            Cookies.remove('npm')
            Cookies.remove('nama')
            Cookies.remove('token')

            this.$router.push("/login")
          })
    }
  }
};
</script>
