<template>
	<div>
    <div class="container mx-auto">
      <div class="card flex flex-row">
        <h1 class="font-semibold text-lg leading-tight text-pink-600 text-gray-700 w-5/6">Info Penting Pilpresma</h1>
        <a class="text-sm text-pink-400 w-1/6" href="/pemilihan">Home</a>
        <button @click="enkrip">enkrip</button>
      </div>
      <div class="p-2 block md:flex md:justify-between">
        <div class="rounded overflow-hidden border flex p-4 md:w-2/5 md:m-1 md:flex-col">
          <div class="rounded-full w-4/12">
            <img class="rounded" src="../assets/img/rubi.png" height="544" width="495">
          </div>
          <div class="pl-4 w-8/12 md:w-full md:p-0">
            <div class="font-bold text-gray-700 text-md mb-2 md:pt-2 md:text-2xl">
              <h1>Rubi Ismanto</h1>
              <p>Indra Yogaswara</p>
            </div>
              <div class="text-gray-700 text-sm md:text-lg">
                <b>Visi</b>
                <p class="paragrap">
                  Menjadikan BEM STMIK sebagai wahana berekspresi yang sinergis dan interaktif sebagai insan akademis, demi terwujudnya STMIK Jaya.
                </p>
              </div>
              <div class="text-gray-700 text-sm md:text-lg">
                <b>Misi</b>
                <ul class="list-disc pl-5">
                  <li>Mendukung dan menjebatani minat bakat serta keilmuan mahasiswa STMIK</li>
                  <li>Terbentuknya silaturim dan komunikasi organisasi internal kampus</li>
                </ul>
              </div>
          </div>
        </div>
        <div class="rounded overflow-hidden border flex p-4 md:w-2/5 md:m-1 md:flex-col">
          <div class="rounded-full w-4/12">
            <img class="rounded" src="../assets/img/ajji.png" height="544" width="495">
          </div>
          <div class="pl-4 w-8/12 md:w-full md:p-0">
            <div class="font-bold text-gray-700 text-md mb-2 md:pt-2 md:text-2xl">
              <h1>Rijal Ajji Jatnika</h1>
              <p>Angga E Purnama</p>
            </div>
              <div class="text-gray-700 text-sm md:text-lg">
                <b>Visi</b>
                <p class="paragrap">
                  Bersinergi dengan seluruh elemen STMIK demi terciptanya kampus yang nyaman dan berkualitas
                </p>
              </div>
              <div class="text-gray-700 text-sm md:text-lg">
                <b>Misi</b>
                <ul class="list-disc pl-5">
                  <li>Bersatu padu dengan mahasiswa/i untuk andil dalam menjaga citra baik kampus.</li>
                  <li>Bersinergi dengan seluruh elemen STMIK demi terciptanya kampus yang nyaman dan berkualitas</li>
                </ul>
              </div>
          </div>
        </div>
        <div class="rounded overflow-hidden border flex p-4 md:w-2/5 md:m-1 md:flex-col">
          <div class="rounded-full w-4/12">
            <img class="rounded" src="../assets/img/ardi.png" height="544" width="495">
          </div>
          <div class="pl-4 w-8/12 md:w-full md:p-0">
            <div class="font-bold text-gray-700 text-md mb-2 md:pt-2 md:text-2xl">
              <h1>M. Ardiansyah</h1>
              <p>Firham Mulady</p>
            </div>
              <div class="text-gray-700 text-sm md:text-lg">
                <b>Visi</b>
                <p class="paragrap">
                  Melanjutkan dan meningkatkan program-program BEM STMIK periode sebelumnya.
                </p>
              </div>
              <div class="text-gray-700 text-sm md:text-lg">
                <b>Misi</b>
                <ul class="list-disc pl-5">
                  <li>Memfasilitasi mahasiswa dalam memberikan aspirasi.</li>
                  <li>Peka dan solutif terhadap terhadap kondisi yang terjadi dibuktikan dengan aksi nyata.</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
		<Footer />
	</div>
</template>

<script>
import Footer from "@/components/Footer.vue"
var Base64 = require('js-base64').Base64;
// const ascii = require('text-2-ascii'); 

export default {
  name: "paslon",
  components: {
    Footer
  },
  methods: {
    tambah() {
      console.log("bertambah nih");
    },
    enkrip() {
      console.log(Base64.decode("OTI1OTA1NzY4OTY0MjQ2MDI5NjE2"))
    }
  }
};
</script>

<style scoped>

</style>