<template>
	<div>
		<Header/>
		<HasilPemilihan />
		<Footer />
	</div>

</template>

<script>
import Header from "@/components/Header.vue"
import Footer from "@/components/Footer.vue"
import HasilPemilihan from "@/components/HasilPemilihan.vue"

export default {
  name: "paslon",
  components: {
		Header,
		HasilPemilihan,
    Footer
	},
	data() {
    return { 
      keterangan : 'Selamat! anda pemenangnnya',
      hasil : 1500
    }
  }
}
</script>