<template>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">eVote</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">
            Home
            <span class="sr-only">(current)</span>
          </a>
					<router-link class="nav-item nav-link" to="/">Home</router-link>
					<router-link class="nav-item nav-link" to="/pendaftaran">Pendaftaran</router-link>
					<router-link class="nav-item nav-link" to="/pemilih-tetap">Daftar Pemilih Tetap</router-link>
					<router-link class="nav-item nav-link" to="/pemilihan">Pemilihan</router-link>
					<router-link class="nav-item nav-link" to="/info-penting">Info Penting</router-link>
					<router-link class="nav-item nav-link" to="/hasil-pemilihan">Hasil Pemilihan</router-link>
          <a class="nav-item nav-link" href="#">Tambah Pemilih</a>
          <a class="nav-item nav-link" href="#">Daftar Pemilih</a>
					<a class="nav-item nav-link" href="#">Hasil Pemilihan</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav>
  </div>
</template>