<template>
	<footer class="container mx-auto py-8">
    <div class="text-center">
      <h1 class="text-lg text-gray">Evote STMIK Tasikmalaya 2020</h1>
      <p class="text-gray-400">Rijal Ajji Jatnika</p>
    </div>
  </footer>
</template>