<template>
  <div class="pt-16">
    <div class="card" v-if="inputKunci">
      <h1 class="paragrap font-semibold camelcase">Masukan kunci Private untuk Melihat Perhitungan</h1>
      <input type="text" name="kunciPrivate" class="input" placeholder="Kunci Private" v-model="kunci">
      <button class="btn-primary mt-5" @click="bukaKunci">Buka Kunci</button>
    </div>
    <div class="p-2 block md:flex md:justify-between" v-for="mahasiswa in dataPaslon" :key="mahasiswa.kode_pilihan" v-on:click="pilihPasangan(mahasiswa.kode_pilihan)">
      <div  v-if="perhitungan" class="rounded overflow-hidden border flex p-4 md:w-2/5 md:m-1">
        <div class="rounded-full w-4/12">
          <img class="rounded" :src="'/img/' + mahasiswa.foto" height="498" width="454" alt="Sunset in the mountains">
        </div>
        <div class="pl-4 w-8/12">
          <div class="font-bold text-sm mb-2">Nomor urut {{mahasiswa.kode_pilihan}} </div>
          <p class="text-gray-700 text-lg">
            {{mahasiswa.namaMahasiswa}} & <br>{{mahasiswa.namaMahasiswa2}} 
          </p>
          <h1 class="judul mt-3">126 Suara</h1>
          <div class="shadow w-full bg-grey-100 rounded">
            <div class="bg-pink-600 text-xs leading-none py-1 text-center text-white rounded" style="width: 75%">75%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 mb-3">
        <div class="card">
          <div class="card-body">
            <label for="basic-url">Masukan kunci </label>
            <div class="input-group">
              <input
                id="kunciPrivate"
                type="text"
                class="form-control"
                placeholder="Kunci Private ..."
                aria-label="KunciPrivate"
                v-model="kunci"
              />
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" @click="bukaKunci" keyDown="13">Buka</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if="pemilihan">
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sandiyana & Satrio</h4>
            <p class="card-text">dengan perolehaan suara <strong>{{hasil}}</strong></p>
            <div class="progress" style="height: 30px">
              <div
                class="progress-bar bg-danger"
                role="progressbar"
                style="width: 48%; height:30px; "
                aria-valuenow="48"
                aria-valuemin="0"
                aria-valuemax="100"
              >48%</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Eri Susanto & Hari Akbar </h4>
            <p class="card-text">dengan perolehan suara <strong>169</strong></p>
            <div class="progress" style="height: 30px">
              <div :style="barValue"
                class="progress-bar bg-info"
                role="progressbar"
                style="height:30px;"
                aria-valuenow="52"
                aria-valuemin="0"
                aria-valuemax="100"
              >{{hasil}}%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</template>

<script>
// import RSA from '../assets/js/index.js'
// import bigInt from 'big-integer'
import axios from 'axios'

export default {
  data() {
    return { 
      inputKunci : true,
      hasil : 89,
      kunciPrivate : 1234,
      kunci : '',
      barValue : {
        width : '90%'
      }
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      axios.get("http://localhost:3000/pasangan_calon")
      .then(response => {
        this.dataPaslon = response.data;
      }).catch ((err) => {
        console.log(err)
      })
    },
    bukaKunci : function() {
      if (this.kunciPrivate == this.kunci) { 
        this.inputKunci = false;
        this.perhitungan = true 
      } else {
        alert('kunci salah')
      }

      // Message
      
    } 
  }
};
</script>

<style lang="stylus" scoped></style>