<template>
  <nav class="fixed shadow bg-white w-full flex py-4 px-6 items-center">
    <div class="w-1/6 md:w-1/6">
      <div class="flex">
        <!-- <button class="md:hidden mr-4" @click="isOpen = !isOpen"><img src="../assets/logos/app-icon-144x144.png" width="30px" height="30px"></button> -->
        <a href="/home">
          <img src="../assets/logos/app-icon-144x144.png" width="30px" height="30px">
        </a>
      </div>
    </div>
    <div class="md:block md:w-2/6">
      <ul class="flex flex-row items-center justifiy-end">
        <li class="pr-6 text-gray-700 block"><a href="/admin">Home</a></li>
        <li class="pr-6 text-gray-700 block"><a href="/pemilihan">Vote</a></li>
        <li class="pr-6 text-gray-700 block"><a href="/hasil-pemilihan">Hasil</a></li>
        <li class="pr-6 text-gray-700 block"><a href="/info">Info</a></li>
      </ul>
    </div>
    <div class="w-1/6 md:w-2/6 text-right">
      <a class="text-sm class text-pink-400" href="/admin">Logout</a>
    </div>
  </nav>


<!-- <div class="row">
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="LoginModal"
      aria-hidden="true">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModal">Silakan Login</h5>
            <small id="emailHelp" class="form-text text-muted"
              >Pastikan Nama, NPM, dan kunci publik anda benar dan sesuai</small
            >
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nama Lengkap</label>
                <input
                  type="email"
                  class="form-control"
                  id="namaLengkap"
                  aria-describedby="emailHelp"
                  placeholder="Masukan nama anda"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">NPM</label>
                <input
                  type="email"
                  class="form-control"
                  id="namaLengkap"
                  aria-describedby="emailHelp"
                  placeholder="Masukan NPM Anda!"
                />
              </div>
              <div class="form-group">
                <label for="kunciPublik">Kunci Publik</label>
                <input
                  type="text"
                  class="form-control"
                  id="kunciPublik"
                  placeholder="kunci publik"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-pink">Masuk</button>
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-dismiss="modal"
            >
              Ga jadi
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg">
      <div class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="../assets/logos/app-icon-48x48.png" alt="logos" />
        </a>
        <div class="nav justify-content-end">
          <nav class="nav mr-5"></nav>
          <div class="dropdown">
            <a
              class="btn btn"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="false"
              aria-expanded="false"
            >
              <img src="../assets/icons/list.svg" width="30px" height="30px" />
            </a>
            <div class="dropdown-menu hamburger" aria-labelledby="dropdownMenuButton">
              <router-link class="dropdown-item" :to="{ path: '/' }">Home</router-link>
              <router-link class="dropdown-item" to="/pemilih-tetap">Pemilih Tetap</router-link>
              <router-link class="dropdown-item" to="/pemilihan">Pemilihan</router-link>
              <router-link class="dropdown-item" to="/hasil-pemilihan">Hasil Pemilihan</router-link>
              <router-link to="/login-admin" class="dropdown-item">Login Admin</router-link>
              <router-link class="dropdown-item" to="/register">Registrasi</router-link>
              <div class="dropdown-divider"></div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div> -->
</template>

<script>
  export default{
    data() {
      return {
        isOpen: false
      }
    }
  }
</script>
