<template>
<main>
  <section class="banner">
    <div class="container bg-gray mx-auto py-10 pt-20 px-4 p-10 flexbox">
      <div>
        <h1 class="text-4xl font-semibold pb-6 leading-tight text-gray-900">PILPRESMA STMIK Tasikmalaya</h1>
        <h3 class="text-1xl pb-6 font-light text-gray-600">dapatkan pengalaman terbaik dalam memiih presiden mahasiswa di stmik tasikmalaya pada 2020 dengan menggunakan web</h3>
        <div class="flex flex-col md:flex-row">
          <router-link to="pemilih-tetap" class="btn-primary text-center">Registration</router-link>
          <router-link to="info" class="btn-secondary text-center">Lihat informasi</router-link>
        </div>
      </div>
    </div>
  </section>
  <!-- main section -->
  <section class="container mx-auto py-10 px-5 bg-gray-100">
    <div class="text-center bg-gray-100 pb-5">
      <h1 class="text-2xl font-semibold text-gray-700">Menu Pemilihan Umum</h1>
      <p class="mb-3 text-sm font-light leading-none">Menu pemilihan umum berada dibawah</p>
    </div>
    <div class="md:flex">
      <router-link to="/pemilih-tetap" class="card">
        <h3 class="font-semibold pb-2 text-lg leading-tight text-pink-600">Pendaftaran Peserta</h3>
        <p class="mb-3 text-sm font-light leading-none">Pendaftaran peserta pemilihan presiden mahasiswa</p>
        <button class="bg-pink-600 px-2 py-2 text-white rounded">Daftar</button>
      </router-link>
      <router-link to="/hasil-pemilihan" class="card">
        <h3 class="font-semibold pb-2 text-lg leading-tight text-pink-600">Perhitungan Suara</h3>
        <p class="mb-3 text-sm font-light leading-none">Hasil perhitungan suara dari pemilihan yang telah dilakukan</p>
        <button class="bg-pink-600 px-2 py-2 text-white rounded">Masuk</button>
      </router-link>
      <router-link to="/pemilihan" class="card">
        <h3 class="font-semibold pb-2 text-lg leading-tight text-pink-600">Pemilihan Umum</h3>
        <p class="mb-3 text-sm font-light leading-none">Pemilihan Umum yang dilakukan oleh mahasiswa</p>
        <button class="bg-pink-600 px-2 py-2 text-white rounded">Masuk</button>
      </router-link>
    </div>
  </section>
</main>

<!--   <main>
    <div class="container">
      <header>
      </header>
      <div class="row mb-4">
        <div class="col-md-3 col-sm-6 category_menu">
          <div class="kategori-pemilihan">
            <router-link
              to="/pemilihan"
              class="kategori-pemilihan-box mb-3"
              style="border-top: 3px solid #ef7943;"
            >
              <h5>Pemilihan umum</h5>
              <p class="lead">
                Menu utama untuk melakukan voting/pemilihan pada pilpresma 2020
              </p>
              <span class="item-link">Buka ></span>
            </router-link>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 category_menu">
          <div class="kategori-pemilihan">
            <router-link 
              to="/pemilih-tetap"
              class="kategori-pemilihan-box mb-3"
              style="border-top: 3px solid #fecc65;"
            >
              <h5>Daftar Pemilih Tetap</h5>
              <p class="lead">
                Daftar Mahasiswa yang berhak memilih pada pilpresma 2020
              </p>
              <span class="item-link">Buka ></span>
            </router-link>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 category_menu">
          <div class="kategori-pemilihan">
            <router-link
              to="/daftar-paslon"
              class="kategori-pemilihan-box mb-3"
              style="border-top: 3px solid #01b681;"
            >
              <h5>Daftar Pasangan</h5>
              <p class="lead">
                Pasangan calon yang dapat dipilih sesuai dengan pilihan anda
              </p>
              <span class="item-link">Buka ></span>
            </router-link>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 category_menu">
          <div class="kategori-pemilihan">
            <router-link
              to="/info-penting"
              class="kategori-pemilihan-box mb-3"
              style="border-top: 3px solid #007bff;"
            >
              <h5>Info Penting</h5>
              <p class="lead">
                Beberapa info penting yang harus diketahui oleh mahasiswa
              </p>
              <span class="item-link">Buka ></span>
            </router-link>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-6 mb-3 mt-3">
          <div class="share-box">
            <h4 class="mb-4">Belum terdaftar?</h4>
            <p class="mb-4">
              Jika kamu merasa belum terdaftar sebagai pemilih tetap, segera
              hubungi panitia pada nomor dibawah ini: <br />
            </p>

            <p style="color: #4d6cff; font-weight: bold;" class="mt-4">
              +62 822 2312 4412
            </p>
            <br />
            <button class="btn btn-pink mt-3">Daftar</button>
          </div>
        </div>
        <div class="col-md-7 col-sm-6 mb-5 mt-3">
          <div class="share-box">
            <h4 class="mb-4">Bagikan ke temanmu soal pemilihan ini!</h4>
            <p class="mb-4">
              Bagikan pengalaman kamu dalam pemilihan presiden mahasiswa di
              STMIK siapa tau temen kamu lupa kalau ada pemilihan presiden
              mahasiswa STMIK Tasikmalaya 2020
            </p>
            <button class="btn btn-info mr-5">Istagram</button>
            <button class="btn btn-pink">Whatsapp</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="col-lg">
          <span
            >&copy; 2020 by Rijal Jatnika <a href="/">@rijaljatnika</a></span
          >
        </div>
      </div>
    </footer>
  </main> -->
</template>

<script>
export default {
  name: "HomePage",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
p {
  line-height: 2;
}

footer {
  background-color: #ffffff;
}
</style>
