/* eslint-disable prettier/prettier */
<template>
  <div class="card mr-2 mb-3">
    <div class="card-header text-center">
     1
    </div>
    <img
      class="card-img-top"
      src="../assets/rijal-s.jpg"
      alt="Card image cap"
    />
    <div class="card-body text-center">
      <p class="card-text">
        Rijal jatnika
      </p>
      <button class="btn btn-pink" @click="count++">Pilihan Anda</button>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      count: 0
    };
  }
};
</script>

<style scoped></style>
