@tailwind base;

@tailwind components;
.btn-primary {
	@apply bg-pink-600 text-white py-4 px-4 mb-4 rounded border uppercase tracking-wider font-semibold 
}
.btn-secondary {
	@apply bg-white py-4 px-4 mb-4 rounded border uppercase tracking-wider font-semibold
}

.banner {
	background-position: left 50% top -215px;
	background-repeat: no-repeat;
	background-size: 400px;
	padding: 2px 24px;
}
.card {
	@apply flex flex-1 text-gray-700 border rounded px-4 py-5 m-2 flex-col bg-white
}

.paragrap {
	@apply pb-6 font-light text-gray-600
}

.judul {
	@apply font-semibold pb-2 text-lg leading-tight text-pink-600
}

.input {
	@apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight
}
@screen md {
	.btn-primary{
		@apply mr-4 mb-0
	}
	.btn-secondary{
		@apply mb-0
	}
}


@tailwind utilities;