<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script>

export default {
  name : 'app',
  data() {
    return { 
      keterangan : 'Selamat! anda pemenangnnya',
      hasil : 1500
    }
  }
}
</script>
